#goot_nav { 
	padding: 25px 0;
	background-color: slategrey;
	height : 100px;
	z-index: 100000;
	overflow: visible;
}

#init-camera-btn { 
	text-align : center;	
}


.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100000;
	border-top: 0;
}

.sticky_picker {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	padding-top : 150px;
	z-index: 99999;
	border-top: 0;
}

img.snapshot_image{border:solid 2px grey; margin:10px;}
.goot_selected {
    box-shadow:0px 12px 22px 1px #333;
}


 #record-video-comment { 
 	position : relative;
 	width : 300px;
 	float : right;
 }
 
  #goot-snapshot { 
 	position : relative;
 	width : 400px;
 	float : left;
 }
 
 #record-text-comment { 
 	position : relative;
 	width : 200px;
 	clear : both;
 	float : left;
 }

#goot-left-block {
  display : block;
  width : 300px;
  float: left;
}

#goot-middle-block {
  display : block;
  width : 400px;
  float: left;
}

#goot-right-block { 
  display : block;
  float: right;
}

@-webkit-keyframes glowRed {
  from {
    box-shadow: rgba(255, 0, 0, 0) 0 0 0;
  }
  50% {
    box-shadow: rgba(255, 0, 0, 1) 0 0 15px 1px;
  }
  to {
    box-shadow: rgba(255, 0, 0, 0) 0 0 0;
  }
}

#monitor {
  /*-webkit-transform: scaleX(-1);*/
  height: 120px;
  margin-top : -20px;
  margin-right : 60px;
  float : right;
  /*-webkit-box-reflect: below 20px -webkit-linear-gradient(top, transparent, transparent 80%, rgba(255,255,255,0.2));*/
}
#live {
  position: absolute;
  z-index: 1;
  color: white;
  font-weight: 600;
  font-family: Arial;
  font-size: 8pt;
  right: 60px;
  top: 20px;
  text-shadow: 1px 1px red;
  letter-spacing: 1px;
}
#live:before {
  content: '';
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
  left: -20px;
  margin-top: 5px;
}
#gallery img {
  position: absolute;
  z-index: -1;
  height: 75px;
}
#gallery img {
  float: left;
  height: 75px;
}
#goot-video-container {
  padding: 10px 25px 5px 25px;
  background: black;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}
.blur {
  -webkit-filter: blur(3px);
}
.brightness {
  -webkit-filter: brightness(5);
}
.contrast {
  -webkit-filter: contrast(8);
}
.hue-rotate {
  -webkit-filter: hue-rotate(90deg);
}
.hue-rotate2 {
  -webkit-filter: hue-rotate(180deg);
}
.hue-rotate3 {
  -webkit-filter: hue-rotate(270deg);
}
.saturate {
  -webkit-filter: saturate(10);
}
.grayscale {
  -webkit-filter: grayscale(1);
}
.sepia {
  -webkit-filter: sepia(1);
}
.invert {
  -webkit-filter: invert(1)
}